app_ports=5001:81
timezone=Europe/Moscow
app_code_source=./app
logs_dir=E:\app_template\logs
log_level=DEBUG
app_name=template_app
msg_topic=front_topic

common_libs=./common_libs

worker_code_source=./worker

redis_url=redis://redis:6379
redis_port=6379:6379
redis_data_folder=E:\app_template\redis

db_name=postgres

db_root_user=user_pg
db_pswd=pswd_pg
db_data=E:\app_template\pg_data
db_ports=5432:5432
db_host=postgres_container:5432
postgresql_conf=./db/postgresql.conf


pgadmin_data=E:\app_template\pg_admin_data
pgadmin_email=pgadminuser@pg.com
pgadmin_pswd=admin
pgadmin_server_mode=False
pgadmin_ports=5050:80

juputer_ports=8888:8888
notebook_folder=E:\notebook
data_folder=E:\notebook
user=uder