tzdata==2023.3
numpy==1.24.3
jupyter_contrib_core==0.4.2
jupyter_highlight_selected_word==0.2.0
lxml==4.9.2
uri_template==1.2.0
webcolors==1.13
arrow==1.2.3
pandas==2.0.2
jupyter-contrib-nbextensions==0.7.0
jupyter_nbextensions_configurator==0.6.3
matplotlib==3.7.1
seaborn==0.12.2
openpyxl==3.1.2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
selenium
selenium_stealth
apscheduler